/* FONTS */

/* Roboto */
@font-face {
	font-family: 'Roboto';
	src: url('fonts/Roboto/Roboto-Regular.woff');
	font-style: normal;
	font-weight: normal;
}
@font-face {
	font-family: 'Roboto';
	src: url('fonts/Roboto/Roboto-Bold.woff');
	font-style: normal;
	font-weight: bold;
}
@font-face {
	font-family: 'Roboto';
	src: url('fonts/Roboto/Roboto-Italic.woff');
	font-style: italic;
	font-weight: normal;
}


/* Open Sans */
@font-face {
	font-family: 'Open Sans';
	src: url('fonts/OpenSans/OpenSans-Regular.woff');
	font-style: normal;
	font-weight: normal;
}
@font-face {
	font-family: 'Open Sans';
	src: url('fonts/OpenSans/OpenSans-Bold.woff');
	font-style: normal;
	font-weight: bold;
}
@font-face {
	font-family: 'Open Sans';
	src: url('fonts/OpenSans/OpenSans-Italic.woff');
	font-style: italic;
	font-weight: normal;
}
